apiVersion: apps/v1
kind: Deployment
metadata:
  name: alert-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alert-service
  template:
    metadata:
      labels:
        app: alert-service
    spec:
      containers:
        - name: alert-service
          image: uptime-monitor-alert_service:v1.5.0
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
          env:
            - name: KAFKA_BROKER
              value: "kafka:9092"
            - name: REDIS_HOST
              value: "redis"
            - name: SLACK_WEBHOOK_URL
              valueFrom:
                secretKeyRef:
                  name: uptime-secrets
                  key: SECRET_KEY # Temporary reuse or user can add SLACK_SECRET
